@CHARSET "ISO-8859-1";
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #555555;
}

li {
  float: left;
}

li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size : 20px;
}

li .loginBtn, .registerBtn{
  display: block;
  background-color:#555555;
  color: white;
  text-align: center;
  padding: 14px 16px;
  border:none;
  outline:none;
  font-size : 20px;
  cursor:pointer;
}


li a:hover{
  background-color: #111;
}

li .loginBtn:hover, .registerBtn:hover{
  background-color:#111;
}