@CHARSET "ISO-8859-1";
.divEntitet{
	height:100px; 
	width:100px;
	border-radius: 50%;
}
.imgEntitet{
	height:inherit;
	width:inherit; 
	object-fit: cover;
	border-radius: inherit;
}
.prikazEntitetaTbl{
	margin-top: 100px;
	margin-left:auto;
	margin-right:auto;
}
tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}
th{
	background: #787c82;
}
tr {
	text-align: center;
}
#slikaEdit{
	margin-left: 50px;
	margin-bottom:20px;
	margin-top: 10px;
    height: 60px;
    margin-right: 50px
}